#xDelUser {
	display: flex;
	flex-direction: column;
	font-size: larger;

	> .row {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-bottom: 5px;

		> div[role] {
			padding-left: 5px;
			padding-right: 5px;
			border-radius: 2px;
			border: 1px solid gray;
			cursor: pointer;
		}

		&:first-child > div.active {
			border: 2px solid #f44;
			background-color: #fbb;
		}

		&:nth-child(2) > div.active {
			border: 2px solid #44f;
			background-color: #bbf;
		}

		> {
			button {
				width: 35%;
			}

			textarea {
				width: 100%;
				border: 1px solid #44f;
				border-radius: 10px;
				padding: 5px;
			}
		}
	}
}

#answers-link {
	background-color: #5bb8ff;
	border-radius: 60px;
	text-align: center;
	color: white !important;
	font-size: larger !important;
	font-weight: bold;
	font-family: 'system-ui';
	border: 2px solid #5bb8ff;
	float: right;
	padding: 12px 0;
	margin-bottom: 10px;
	width: 100%;
	display: block;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;

	&:hover {
		background-color: white;
		color: #5bb8ff !important;
	}
}

.banned {
	background-color: rgba(255, 0, 0, 0.5) !important;
	border-radius: 20px;
}

.info {
	margin-right: 10px;
	width: 410px !important;
	margin-bottom: 10px !important;
}

.points {
	margin-right: 7px;
}

.info_top {
	padding: 10px;
}

.info_bottom {
	margin-top: 10px;
}

.grey {
	color: #333 !important;
}

.personal_info > .header {
	padding-right: 15px;
}

.pseudolink.user-more-data {
	display: none !important;
}

#profile-mod-panel {
	display: block !important;
}

* {
	outline: none;
}

.new-ext-panel > h2 {
	font-size: 24px !important;
}

input[name='ban-duration'] {
	width: 200px;
}

label[for='ban-duration'] {
	font-size: larger;
	margin-left: 20px;
}

input[type='range'] {
	-webkit-appearance: none;

	&::-webkit-slider-runnable-track {
		border-radius: 13px;
		height: 10px;
		border: 1px solid #5bb8ff;
		background-color: #ffffff;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		background-color: #3da7f9;
		width: 13px;
		height: 13px;
		border-radius: 10px;
		cursor: pointer;
		margin-top: -3px;
	}
}

.choosers {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;

	> button {
		background-color: #f8fff0;
		padding: 5px 10px;
		margin-top: 5px;
		border: 1px solid #e4f0e2;
		border-radius: 11px;
		color: #313335;
		box-shadow: 1px 1px 3px #5d8e5b;
		transition-duration: 0.25s;
		margin: 1.5px;
		margin-bottom: 5px;
		font-family: 'ProximaNovaRegular';
		cursor: pointer;

		&:hover {
			background-color: #e7fffa;
		}

		&.violator {
			background: linear-gradient(#fcc, #fee);
			box-shadow: 1px 1px 3px rgb(200, 25, 25);
		}
	}
}

.reason > h3 {
	display: inline !important;
}

#ban-reason {
	display: inline;
	font-size: larger;
	margin-left: 15px;
	border: 1px solid #5bb8ff;
}

#to-delete {
	margin-left: 15px;
}

.message-for-user > textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #5bb8ff;
	padding: 3px;
	font-size: larger;
}

.submit-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ban-submit {
	background-color: #fafafa;
	color: #3cb25d;
	border: 2px solid #3cb25d;
	border-radius: 100px;
	outline: none;
	padding: 12px 30px;
	font-size: larger;
	font-weight: bold;
	display: block;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	margin-top: 5px;
	margin-right: 15px;
	font-family: 'ProximaNovaSemiBold';
	cursor: pointer;

	&:hover {
		background-color: #3cb25d;
		color: #fafafa;
	}
}

.quick-delete {
	background-color: #fafafa;
	color: #d82d21;
	border: 2px solid #f76045;
	border-radius: 80px;
	outline: none;
	padding: 12px 30px;
	font-size: larger;
	font-weight: bold;
	display: block;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	margin-top: 5px;
	font-family: 'ProximaNovaSemiBold';
	cursor: pointer;

	&:hover {
		background-color: #f76045;
		color: #eeeeee;
	}
}

.ext-user-warns {
	border-collapse: collapse;
	width: 560px;
	overflow: scroll;

	> tbody > {
		tr {
			border-width: 1px 0 !important;
			border-color: gray;

			&:nth-child(odd) {
				background-color: #eeeeee;
			}

			> td {
				padding: 3px;
			}
		}

		.inactive {
			text-decoration: line-through;
			opacity: 0.5;
		}
	}
}

.ext-warn-content {
	display: block;
	max-width: 300px;
	max-height: 80px;
	overflow: hidden;
}
