@use "sass:map";
@use "./mixins";

.sg-toplayer .sg-visually-hidden,
.sg-toplayer [aria-hidden="true"]:not(use, .sg-avatar__icon),
.hidden:not(#profile-mod-panel),
[hidden] {
  display: none !important;
}

.opacity-0 {
  @include disabled($opacity: 0);
}

@each $size, $gap in (
  "xs": 3px,
  "s": 5px,
  "l": 12px,
  "xl": 20px
) {
  .gap-#{$size} {
    gap: $gap;
  }
}

.sg-flex--margin-left-auto {
  margin-left: auto;
}

.sg-button.sg-button--xs {
  width: 26px;
  height: 26px;
  padding: 1px;
}

// Buttons
$new-button-styles: (
  "peach": ("color": $peach, "onActive": $peach-dark),
  "orange": ("color": $orange, "onActive": $orange-dark),
  "green": ("color": $mint, "onActive": $mint-dark),
);

@each $name, $style in $new-button-styles {
  $color: map.get($style, "color");
  $on-active: map.get($style, "onActive");

  .sg-button.sg-button--solid-#{$name} {
    background-color: $color;

    & .sg-icon {
      color: $white !important;
    }

    @include color-on-active($on-active);
  }

  .sg-button.sg-button--outline-#{$name} {
    border: 2px solid $color;
    background-color: transparent;

    &:hover {
      border-color: $on-active;
    }

    & .sg-icon {
      color: $color;
    }
  }
}
