.moderation-ticket-node-attachment {
  position: relative;
  margin-top: 15px;
  margin-right: 15px;

  & > .sg-button {
    position: absolute;
    left: 80%;
    top: -5%;
  }

  & > :last-child {
    width: 90px;
    height: auto;
    border-radius: 12px;
    border: 2px solid #ebf2f7;
    cursor: pointer;
  }

  &[data-is-image="false"] > div:last-child {
    height: 90px;
    background-color: white;

    > img {
      width: 50px;
    }

    @include flex($align-items: center, $justify-content: center);
  }
}

.attachment-preview-iframe-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(82 82 82 / 29%);

  @include flex($align-items: center, $justify-content: center);

  & > .sg-box {
    position: relative;
    width: auto;

    > .sg-button {
      position: absolute;
      right: -20px;
      top: -20px;
    }
  }
}
