.moderation-ticket-node-attachment {
  position: relative;
  margin-top: 15px;
  margin-right: 15px;

  & > .sg-button {
    position: absolute;
    left: 80%;
    top: -5%;
  }

  & > :last-child {
    width: 90px;
    height: auto;
    border-radius: 12px;
    border: 2px solid #ebf2f7;
    cursor: pointer;
  }

  & > div:last-child {
    height: 90px;
    background-color: white;

    > img {
      width: 50px;
    }

    @include flex($align-items: center, $justify-content: center);
  }
}
