.author-preview-box.sg-bubble {
  $min-height: 30vh;
  $max-height: 70vh;

  padding: 10px;
  position: fixed;
  top: 20vh;
  right: 1vw;
  z-index: 90;
  width: 50%;
  min-height: $min-height;
  max-height: $max-height;

  & .user-ban-count {
    margin-left: auto;
    margin-bottom: -18px;
  }

  & .sg-avatar {
    flex-shrink: 0;
  }

  & > div {
    display: grid;
    justify-items: baseline;
    grid-template-columns: auto 1fr;
    overflow: hidden;
    min-height: $min-height;
    max-height: $max-height;

    > div {
      min-height: $min-height;
      max-height: calc($max-height - 35px);

      @include modern-overflow;
    }
  }

  & .author-is-banned {
    background: #ff8e8e;
    padding: 5px;
    border-radius: 5px;

    .sg-breadcrumb-list {
      line-height: 1;
    }

    .ban-label {
      margin-top: -5px;
    }
  }

  & .author-warns {
    max-height: 45vh;
    margin-top: 5px;

    @include modern-overflow;

    & .sg-horizontal-separator {
      margin: 0;
    }

    & .warn-content,
    & .warn-reason {
      @include modern-overflow;

      max-height: 120px;
      font-size: 14px;
      line-height: 1.1;
      word-break: break-word;
    }

    & .sg-accordion-item {
      width: 280px;

      .sg-accordion-item__icon {
        width: 30px;
        height: 30px;

        > .sg-icon {
          height: 16px;
          width: 16px;
        }
      }

      &.warn-inactive .sg-accordion-item__button {
        text-decoration: line-through;
        opacity: 0.6;
      }
    }
  }

  & .author-user-content {
    border-left: 1px solid #dadada;
    padding-left: 10px;
    width: calc(100% - 10px);
    margin-left: 10px;
  }

  & .author-user-content-items {
    & ~ .sg-flex {
      margin-top: auto;
      padding-top: 10px;
    }
  }

  & .author-user-content-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 5px;

    a {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  & .ban-section {
    margin-top: auto;
    padding-top: 6px;

    .sg-select {
      margin-left: 0 !important;
      margin-right: 5px;

      > select {
        width: 100% !important;
      }
    }

    > .sg-flex:first-child > .sg-button {
      width: 38px;
    }
  }
}
