.moderation-ticket-comments-list {
  gap: 3px;

  @include smooth-transition;

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }
}

.moderation-ticket-comment {
  @include smooth-transition;

  &.comment-with-stripes {
    background: repeating-linear-gradient(45deg, $white, $white 10px, #ececec 10px, #e0e0e0 20px);
  }

  & > div {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;

    > .sg-text:not(:last-child) {
      margin-left: 5px;
      margin-right: 5px;
      max-height: 80px;

      @include modern-overflow;
    }
  }

  & .ignore-comment.sg-button.sg-button--solid {
    background: #7a7a7a;
  }
}
