.delete-item-section {
  > .sg-flex {
    flex-wrap: wrap;
  }

  .sg-button {
    margin-right: 12px;
  }

  .sg-checkbox,
  .sg-radio {
    margin-right: 10px;
  }

  .sg-radio__label {
    margin-left: 8px;
  }

  .attachments-label {
    margin-left: auto;
    margin-bottom: -24px;
    cursor: pointer;
  }

  .subcategory-button {
    border-radius: 5px;
    border: 1px solid $gray;
    margin-right: 5px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: bold;

    &--selected {
      background-color: #ffbebe;
      border-color: #ff5252;
    }
  }
}
