.moderation-ticket-header.sg-content-box__header {
  margin-bottom: 0.8rem;

  .prolong-moderation-ticket-section {
    margin-right: 5px;
    margin-left: auto;

    & .sg-button.sg-button--icon-only {
      width: 0;
      padding: 0 13px;
      height: 30px;
      margin-left: 6px;
    }

    & .sg-select {
      margin-left: 10px;

      > .sg-select__icon {
        top: 10px;
      }

      > select.sg-select__element {
        height: 36px;
        width: 118px;
        font-size: 15px;
      }
    }
  }

  .question-link {
    margin-left: 10px;
    margin-top: 2px;
  }
}
