.moderation-ticket-report {
  & + div {
    background: #fff1eb;
    padding: 10px;
    border-radius: 10px;
  }

  & > .sg-flex {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
  }
}
