.moderation-ticket-item.sg-box {
  @include smooth-transition;

  border: 2px solid $gray-light;
  margin-bottom: 10px;

  &.is-approved {
    background-color: #cfffd0;
    border-color: rgb(8 221 50 / 18%);
  }

  &.is-reported {
    border-color: #ffa398;
  }

  &.is-best {
    border-color: #fa0;
    background-color: #fffffe;
  }

  &.sent-for-correction {
    border-color: #8599ff;
    background-color: rgb(133 153 255 / 12%);
  }

  & > div:last-child {
    margin: 10px;
  }

  .sg-label.label-with-no-text {
    padding-right: 0;
  }

  .sg-horizontal-separator {
    margin-top: 12px;
  }

  .user-is-moderator.brn-placeholder__animation {
    margin-bottom: 3px;
    align-items: center;
    border: 2px solid gold;
    border-radius: 18px;
    padding: 2px 8px;
    position: relative;
    background:
      linear-gradient(
        90deg,
        hsl(56deg 100% 64% / 22%) 20%,
        rgb(101 101 101 / 0%),
        hsl(56deg 100% 64% / 23%) 59%
      );
    animation-timing-function: linear;
    animation-duration: 20s;

    &::before {
      content: "★";
      color: $orange;
      margin-right: 5px;
    }
  }

  .extra-data {
    font-size: 14px;
    line-height: 1;
  }

  .check-for-plagiarism {
    margin-left: 8px;
  }

  .open-user-preview {
    margin-left: 10px;
    align-self: center;
  }

  .user-extra-data {
    margin-top: -6px;

    a[href*="view_user_warns"] {
      font-weight: bold;
      margin-left: 3px;
    }
  }
}
